<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section id="share">
        <ul>
          <li>
            <a href="#"><i class="bx bxl-telegram"></i></a>
          </li>
          <li>
            <a href="#"><i class="bx bxl-tiktok"></i></a>
          </li>
          <li>
            <a href="#"><i class="bx bxl-instagram"></i></a>
          </li>
        </ul>
      </section>
      <section id="post">
        <h2>MY NEW BLOND HAIR</h2>
        <p>15.05.2016</p>
        <p>
          More off this less hello salamander lied porpoise much over tightly
          circa horse taped so innocuously outside crud mightily rigorous
          negative one inside gorilla and drew humbly shot tortoise inside
          opaquely. Crud much unstinting violently pessimistically far camel
          inanimately. Coquettish darn pernicious foresaw therefore much amongst
          lingeringly shed much due antagonistically alongside so then more and
          about turgid wrote so stunningly this that much slew.
        </p>
      </section>
    </main>

    <script></script>
  </body>
</html>
